@import "../../../utils/scss/colors.scss";

.ScoreWrap {
  font-size: 2rem;

  .Correct {
      color: $light-pink;
  }

  .Wrong {
      color: $light-cyan;
  }

  .Score {
      text-align: center
  }
}