@import "../../../utils/scss/button.scss";
@import "../../../utils/scss/colors.scss";

.Layout {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: white;
    background: #111;
    height: 100%;
    width: 100%;
    padding-top: 4rem;

    @media screen and (max-height: 700px) {
        position: static;
    }

    .Menu {
        display: flex;
        position: absolute;
        top: 0;

        .Btn {
            @extend %button;
        
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            margin: 0.5rem 0.2rem;
            text-align: center;
        }

        .ActivatedRoute {
            cursor: default;
            user-select: none;
            color: $light-cyan;
            background-color: #222;

            &:hover {
                background-color: #222;
                color: $light-cyan;
                border: 1px solid $dark-cyan;
            }
        }
    }
}