@import "../../utils/scss/colors.scss";
@import "../../utils/scss/button.scss";

.Btn {
    @extend %button;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}