$light-pink: #d30cb8;
$light-cyan: #6df1d8;
$dark-pink: #5c2c6d;
$dark-cyan: #5da4a6;
$light-creme: #b8aec8;
$dark: #3c345c;
$dark-background: #111;

:export {
    light-pink: $light-pink;
    light-cyan: $light-cyan;
}